[config]
proton_username = ""
hydroxide_path = "hydroxide.exe"
bridge_password = ""
smtp_host = "localhost"
smtp_port = 1025

[openai]
openai_base_url = ""
openai_api_key = ""
lm_first_part = "First half of the cover letter (personal details)"
lm_prompt = "Prompt to generate the second half of the cover letter (job related)"
lm_system_instructions = "Instructions on how to generate the second half of the cover letter (be specific and tailor it to your needs)"

[email]
subject = "email title"
body = "email body"

[pdf]
lm_template_path = "template.pdf"
lm_output_path = "LM.pdf"
cv_path = "CV.pdf"